main css .clearfix::after {
  content: "";
  display: block;
  justify-content: center;
  clear: both;
}

#body {
  /* font-size: 18px; */
  /* line-height: 34px; */
  background-color: #c096af;
  /* background-image: url(../images/YFjXOGN3SDyNRrxSlsuNag_thumb_938.jpg); */
  /* font-family: Arial, Helvetica, sans-serif; */
  background-repeat: no-repeat;
  background-size: 100%;
}
* {
  box-sizing: border-box;
}

h1 {
  /* background-color: #4aaaa5; */
  float: left;
  margin: auto;
  margin-left: 40px;
  margin-top: 20px;
  /* padding: 10px; */
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d8d78d;

  font-weight: 700;
  /* padding-bottom: 20px; */
  font-size: 30px;
  line-height: 49px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(242, 0, 250),
    0 0 5px rgb(69, 69, 119);
}

footer {
  padding: 30px 0;
  clear: both;
  position: fixed;
  z-index: 1000;
  background: #706e70;
  width: 100%;
  left: 0;
  bottom: 0;
  /* margin: 402px 0 0;  */
  height: 50px;
  text-align: center;
  border-top: 4px solid #2b3624;
}

.main-section {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 30px 100px;
  text-align: center;
}
.specialties {
  margin: 50px 30px;
}

#pic {
  float: left;
  margin: 20px;
  width: 200px;
  box-shadow: 1px 1px 2px black, 0 0 1em rgb(220, 11, 228),
    0 0 0.2em rgb(249, 161, 252);
}

h2 {
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  /* font-size: 30px; */
  font-weight: 900;
  /* color: #706e70; */
  color: rgb(28, 112, 133);
  font-size: -webkit-xxx-large;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(220, 11, 228),
    0 0 0.2em rgb(249, 161, 252);
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}
h4 {
  font-weight: 800;
  color: rgb(28, 112, 133);
  font-size: x-large;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(220, 11, 228),
    0 0 0.2em rgb(249, 161, 252);
  font-family: "Fira Sans", sans-serif;
  text-align: left;
}
input {
  width: 100%;
  height: 25px;
  margin-right: 800px;
  margin-bottom: 10px;
  text-align: left;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #666666;
  float: left;
  display: block;
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  display: block;
  border: 1px solid #666666;
  padding: 0 10px;
  float: left;
  display: block;
  font-size: 14px;
}
.meet {
  position: sticky;
  top: 50px;
  left: 50px;
}
button {
  display: flex;
  margin: 0 0.3em 0.3em 0;
  background-color: #b8b5b8;
  color: rgb(28, 112, 133);
  padding: 0.7em 1.4em;
  border-radius: 0.15em;
  box-sizing: border-box;
  font-weight: 700;
  box-shadow: 1px 1px 2px black, 0 0 1em rgb(220, 11, 228),
    0 0 0.2em rgb(249, 161, 252);
  text-align: center;
  position: relative;
  font-family: "Fira Sans", sans-serif;
  z-index: 1000;
}

button:focus {
  outline-color: #2b3624;
}

.wrapper {
  position: relative;
  /* display: inline-block; */
  width: 150px;
  float: left;
  margin: 20px;
  justify-content: center;
}
.title {
  position: absolute;
  /* z-index: 999; */
  /* left: -98px; */
  /* right: 0; */
  bottom: 15px;
  padding-bottom: 8px;
  border: 1px solid;
  width: 100%;
  color: #ffffff;
  background: #a0a3a3;
  margin-bottom: 10px;
  text-align: center;
}
p {
  color: #3a3a35;
  text-emphasis: bold;
}

a:-webkit-any-link {
  /* color: -webkit-link; */
  cursor: pointer;
}
/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - changing this with JavaScript */
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */

.sidenav a {
  text-shadow: none;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(249, 161, 252);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#body {
  transition: margin-left 0.5s; /* If you want a transition effect */
  /* padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 980px) {
  .main-section {
    height: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }
  #pic {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  section {
    margin: 0;
    padding: 0;
  }
  .main-section {
    margin: 3% 20% 20% 3%;
    height: auto;
    width: 640px;
  }
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 40%;
    height: auto;
  }

  a {
    padding-top: 15px;
  }
  h1 {
    margin-left: 24px;
    width: 29%;
  }
  nav {
    font-size: x-large;
    width: auto;
  }
  #pic {
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  #main-container {
    padding: 0;
  }
  .header {
    margin-top: 0;
  }
  .main-section {
    margin: 10% 3% 25% 3%;
    height: auto;
    width: 600px;
  }
  #pic {
    width: 100%;
  }
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 87%;
    height: auto;
  }
  h1 {
    margin: auto;
    text-align: center;
    float: none;
    width: 100%;
    margin-bottom: 3%;
  }
  nav {
    font-size: x-large;
    text-align: center;
    float: none;
    width: auto;
    padding-bottom: 15px;
    margin-right: 0;
    margin-top: 0;
  }
  .wrapper {
    display: block;
  }
}
