/* Main css */

.clearfix::after {
    content: "";
    display: block;
    
    clear: both;
}

#body {
    font-size: 18px;
    line-height: 34px;
     color: #777777;
    background-image: url(../images/concrete-texture.png);
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
h1 {
    background-color: #4aaaa5;
    float: left;
    margin: auto;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    top: 10px;
    left: 10px;
}
#navbar {
    background: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    border-bottom: 2px solid #cccccc;
}
nav a:first-child {
  border-left: 0 none;
}
nav {
    float: right;
    margin-right: 101px;
    margin-top: 58px;
    background: #ffffff;
}
footer {
    padding: 30px 0;
    clear: both;
    position: fixed;
    z-index: 1000;
    background: #666666;
    width: 100%;
    left: 0;
    bottom: 0;
    /* margin: 402px 0 0;  */
    height: 50px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}
#main {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
    /* width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both; */
    /* min-height: calc(100vh - 70px);
    width: 100%;
    max-width: 960px;
    clear: both;
    display: inline-block;
    overflow: auto;
    background: #ffffff;
    /* height: 800px;  */
    /* padding: 30px;  */ 
}
.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 50px 100px 200px 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
ul {
    list-style-type: none;
}

#pic {
    float: left;
    margin: 20px;
    width: 200px;
}
h1 {
  color: #ffffff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}
h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  font-weight: 700;
  color: #4aaaa5;
}
input {
    width: 100%;
    height: 25px;
    margin-right: 800px; 
    margin-bottom: 10px;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #666666;
    float: left;
    display: block;
}

textarea { 
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: block;
    border: 1px solid #666666;
    padding: 0 10px;
    float: left;
    display: block;
    font-size: 14px;
    
} 
button {
    margin-top: 50px;
    background: #4aaaa5;
    color: #ffffff;
    margin-bottom: 10%;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.wrapper {
    position: relative;
    /* display: inline-block; */
    width: 150px;
    float: left;
    margin: 20px;
}
.title {
    position: absolute;
    /* z-index: 999; */
    /* left: -98px; */
    /* right: 0; */
    bottom: 15px;
    padding-bottom: 8px;
    border: 1px solid;
    width: 100%;
    color: #ffffff;
    background: #4aaaa5;
    margin-bottom: 10px;
    text-align: center;
}
@media screen and (max-width: 980px) {
.main-section {
    height: 1000px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
#pic {
    width: 70%;
}
}
@media screen and (max-width: 768px) {

section {
    margin: 0;
    padding: 0;
}
.main-section {
    margin: 3% 20% 20% 3%;
    height: auto;
    width: 640px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 40%;
    height: auto;
}

a {
    padding-top: 15px;
}
h1 {
    margin-left: 24px;   
    width: 29%;
}
nav {
    font-size: x-large;
    width: auto;
}
#pic {
    width: 70%;
}
}

@media screen and (max-width: 640px) {
#main-container {
    padding: 0;
}
.header {
    margin-top: 0;
}
/* section {
    margin: 0;
    padding: 0;
} */
.main-section {
    margin: 3% 3%;
    height: auto;
    width: 600px;
}
#pic {
    width: 100%;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 87%;
    height: auto;
}
h1 {
    margin: auto;
    text-align: center;
    float: none;
    width: 100%;
    margin-bottom: 3%;
}
nav {
    font-size: x-large;
    text-align: center;
    float: none;
    width: auto;
    padding-bottom: 15px;
    margin-right: 0;
    margin-top: 0;
}
.wrapper {
    display: block;
}

}