:root {
  --width: 100%;
  --height: 100%;
  --border-width: 200px;
  --border-height: 200px;
}

html,
body {
  background: radial-gradient(mistyrose, pink);
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  content: "";
  justify-content: center;
  clear: both;
}

.gallery {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 2% 8%;
}

.title {
  position: absolute;
  bottom: 15px;
  padding-bottom: 8px;
  border: 1px solid;
  width: 100%;
  color: #ffffff;
  background: linear-gradient(grey, lightgrey);
  margin-bottom: 10px;
  text-align: center;
}

button {
  display: flex;
  margin: 0 0.3em 0.3em 0;
  background-color: #b8b5b8;
  color: rgb(28, 112, 133);
  padding: 0.7em 1.4em;
  border-radius: 0.15em;
  box-sizing: border-box;
  font-weight: 700;
  box-shadow: 1px 1px 2px black, 0 0 1em rgb(161, 95, 142),
    0 0 0.2em rgb(238, 46, 245);
  text-align: center;
  position: relative;
  font-family: "Fira Sans", sans-serif;
  z-index: 1000;
  cursor: pointer;
}

.meet {
  position: sticky;
  top: 50px;
  left: 50px;
}

button:focus {
  outline-color: #2b3624;
}

#pic {
  float: left;
  margin: 20px;
  width: 200px;
  box-shadow: 1px 1px 2px black, 0 0 1em rgb(161, 95, 142),
    0 0 0.2em rgb(238, 46, 245);
  height: 300px;
}

.main-section {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 30px 100px;
  text-align: center;
}

input {
  width: 100%;
  height: 25px;
  margin-right: 800px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #666666;
  float: left;
  display: block;
}

textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  display: block;
  border: 1px solid #666666;
  padding: 0 10px;
  float: left;
  display: block;
  font-size: 14px;
}

p {
  color: #3a3a35;
  font-size: large;
}

h2 {
  font-family: "Kalam", cursive;
  font-weight: 700;
  color: rgb(28, 112, 133);
  font-size: -webkit-xxx-large;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(161, 95, 142),
    0 0 0.2em rgb(238, 46, 245);
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  margin-bottom: 1%;
}
h4 {
  font-weight: 800;
  color: rgb(28, 112, 133);
  font-size: x-large;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(161, 95, 142),
    0 0 0.2em rgb(238, 46, 245);
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  margin: 2%;
}

hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 82%;
  margin-top: 2%;
}
hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

a:-webkit-any-link {
  /* color: -webkit-link; */
  cursor: pointer;
}
/* The side navigation menu */

.sidenav {
  height: 100%;
  width: 0;
  /* 0 width - changing this with JavaScript */
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */

.sidenav a {
  text-shadow: none;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(249, 161, 252);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#body {
  transition: margin-left 0.5s; /* If you want a transition effect */
  /* padding: 20px; */
}

label {
  float: left;
}

footer {
  padding: 30px 0;
  clear: both;
  position: fixed;
  /* z-index: 1000; */
  background: #706e70;
  width: 100%;
  left: 0;
  bottom: 0;
  /* margin: 402px 0 0;  */
  height: 20px;
  text-align: center;
  border-top: 4px solid #2b3624;
}

.gallery:after {
  content: "";
}

.shadow {
  position: absolute;
  top: 700px;
  left: 10%;
  width: 800px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#805d78, rgba(0, 0, 0, 0) 70%);
  margin: 3%;
}

img {
  width: var(--width);
  height: var(--height);
}

.clipped-border {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(grey, lightgrey);
  width: var(--border-width);
  height: var(--border-height);
  max-height: 250px;
  max-width: 250px;
  height: var(--height);
  width: var(--width);
  transition: transform 0.2s;
  position: absolute;
}

.clipped-border:before {
  content: "";
  position: absolute;
  opacity: 0.5;
  width: 350px;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-100px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 196px;
  left: 118px;
}

.clipped-border:nth-child(3) {
  top: 0;
  left: 235px;
}

.clipped-border:nth-child(4) {
  top: 196px;
  left: 353px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 470px;
}

.clipped-border:nth-child(6) {
  top: 196px;
  left: 588px;
}

.clipped-border:nth-child(7) {
  top: 0;
  left: 705px;
}

.clipped-border:nth-child(8) {
  top: 196px;
  left: 823px;
}

.clipped-border:nth-child(9) {
  top: 392;
  left: 940px;
}

.clipped-border:nth-child(10) {
  top: 392px;
  left: 0px;
}

.clipped-border:nth-child(11) {
  top: 392px;
  left: 235px;
}

.clipped-border:nth-child(12) {
  top: 392px;
  left: 470px;
}

.clipped-border:nth-child(13) {
  top: 392px;
  left: 705px;
}

.clipped-border:nth-child(14) {
  top: 392px;
  left: 940px;
}

#clipped {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.clipped-border:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  .clipped-border {
    width: 100px;
    height: 100px;
  }

  .clipped-border:nth-child(2) {
    top: 0;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    left: 200px;
  }

  .clipped-border:nth-child(4) {
    top: 82px;
    left: 50px;
  }

  .clipped-border:nth-child(5) {
    top: 82px;
    left: 150px;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
